{% extends 'core/base.html' %}
{% load static %}
{% block title %}Welcome{% endblock %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="mt-6 px-6 py-12 rounded-xl" id="container">
            <h2 class="items-heading">Newest items</h2>
    
            <div class="grid grid-cols-3 gap-3">
                {% for item in items %}
                    <a href="{% url 'item:detail' item.id%}">
                        <div class="card">
                            <div class="card__image">
                                <img src="{{ item.image.url }}" class="rounded-t-xl">
                            </div>
                            <div class="card__content flex items-center">
                                <p class="card__title flex-grow">{{ item.name }}</p>
                                <p class="text-4xl text-blue-700 font-semibold hover:text-green-600">₹{{ item.price }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl" id="container">
            <h2 class="items-heading">Categories</h2>
    
            <div class="grid grid-cols-3 gap-3">
                {% for category in categories %}
                    <div>
                        <a href="#">
                            <div class="rounded-xl" id="category-card-1">
                                <div class="p-6 bg-white rounded-xl" id="category-card-2">
                                    <h2 class="category-name">{{ category.name }}</h2>
                                    <p class="category-count">{{ category.items.count }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
{% endblock %}
