{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    </head>
    <body>
        <div class="grid grid-cols-5 gap-6">
            <div class="col-span-3">
                <div class="rounded-xl overflow-hidden">
                    <img src="{{ item.image.url }}" class="h-full w-full object-fit" alt="Item Image">
                </div>
            </div>
            <div class="col-span-2 p-8 rounded-xl shadow-lg" id="description-container">
                <h1 class="mb-6 text-4xl text-white font-semibold">{{ item.name }}</h1>
                <div class="border-t border-gray-300 pt-4 mt-6">
                    <p class="text-white text-xl">
                        <strong>Price:</strong> <span class="text-3xl text-white">₹{{ item.price }}</span>
                    </p>
                    <p class="text-white text-xl mt-2">
                        <strong>Seller:</strong> <span class="text-white">{{ item.created_by }}</span>
                    </p>
                </div>
                {% if item.description %}
                    <p class="mt-8 text-white text-lg">
                        <strong class="text-white">Description:</strong><br>
                        {{ item.description }}
                    </p>
                {% endif %}
                <div class="mt-10 flex gap-4">
                    {% if request.user != item.created_by %}
                        <a href="{% url 'conversation:new' item.id %}">
                            <button class="flex-grow px-6 py-3 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 text-xl">
                                Contact Seller
                            </button>
                        </a>
                        <button class="px-6 py-3 text-white bg-yellow-500 rounded-md hover:bg-yellow-600 focus:outline-none focus:ring focus:ring-yellow-300 text-xl">
                            Add to Cart
                        </button>
                    {% endif %}
                    {% if request.user == item.created_by %}
                        <a href="{% url 'item:delete' item.id %}">
                            <button class="px-12 py-3 text-white bg-red-500 rounded-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-blue-300 text-xl">
                                Delete
                            </button>
                        </a>
                        <a href="{% url 'item:edit' item.id %}">
                            <button class="px-12 py-3 text-white bg-green-500 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300 text-xl">
                                Edit
                            </button>
                        </a>
                    {% endif %}
                </div>                
            </div>
                                             
        </div>
        <div class="mt-6 px-6 py-12 rounded-xl" id="related-items-container">
            <h2 class="items-heading">Related items</h2>
    
            <div class="grid grid-cols-3 gap-3">
                {% for item in related_items %}
                    <div>
                       <a href="{% url 'item:detail' item.id %}">
                            <div>
                                <img src="{{ item.image.url }}" class="rounded-t-xl">
                            </div>
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ item.name }}</h2>
                                <p class="text-gray-500">Price: {{ item.price }}</p>
                            </div>
                       </a>
                    </div>
                {% endfor %}
            </div>
        </div>     
    </body>
</html>
{% endblock %}