{% extends 'core/base.html' %}
{% load static %}
{% block title %} Browse {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="filter-section">
            <form method="GET" action="{% url 'item:items' %}">
                <div class="search-bar">
                    <input name="query" type="text" value="{{ query }}" placeholder="Find bike, a chair or a car..">
                    <button class="search-button">Search</button>
                </div>
            </form>
            <div class="category-section">
                <p class="category-header">Categories</p>
                <ul class="category-list">
                    {% for category in categories %}
                    <li class="{% if category.id == category_id %}selected-category{% endif %}">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clear-filters">
                <a href="{% url 'item:items' %}" class="clear-button">Clear Filters</a>
            </div>
        </div>
        <div class="item-list">
            <div class="grid-container">
                {% for item in items %}
                    <a href="{% url 'item:detail' item.id%}">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ item.image.url }}">
                            </div>
                            <div class="card-content">
                                <p class="card-title">{{ item.name }}</p>
                                <p class="card-price">Price: {{ item.price }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
