#footer {

}
.sign-up-btn {
    width: 115px;
    height: 47px;
    font-size: 1.1em;
    cursor: pointer;
    background-image: linear-gradient(90deg,#1c1c1c,teal);
    color: #fff;
    border: none;
    border-radius: 7px;
    transition: all .4s;
   }
   
.sign-up-btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
.sign-up-btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
}
.login-btn {
    width: 115px;
    height: 47px;
    font-size: 1.1em;
    cursor: pointer;
    background-image: linear-gradient(90deg,#1c1c1c,#6220fb);
    color: #fff;
    border: none;
    border-radius: 7px;
    transition: all .4s;
   }
   
.login-btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #09e653,
     0 15px 0 -4px #f11010,
     0 16px 10px -3px #ec4d4296;
   }
   
.login-btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #09e653,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
}