body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.card {
    position: relative;
    width: 500px;
    height: 600px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    padding: auto;
  }
  
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .card__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card:hover .card__image img {
    transform: scale(1.2);
  }
  
  .card:hover .card__content {
    transform: translateY(-100%);
  }
  
  .card__image {
    height: 600px;
    width: 500px;
    background-color: transparent;
  }

  #category-card-1 {
    background-image: linear-gradient(163deg, #e65bff 0%, #3700ff 100%);
    transition: all .3s;
   }
   
   #category-card-2 {
    background-color: #131921;
    transition: all .2s;
   }
   
   #category-card-2:hover {
    transform: scale(0.99);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgba(149, 47, 233, 0.3);
   }

   #category-card-1:hover {
    transform: scale(0.98);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgba(149, 47, 233, 0.3);
   }

.items-heading {
  list-style: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #301275,#5f1cfa, #8830e6, #5f1cfa,#301275);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.items-heading:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#container {
  background-color: #232f3e;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#container:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.category-name {
  flex: 1;
  font-size: 28px;
  color: #fff;
}

.category-count {
  font-size: 52px;
  color: #fff;
  margin-left: 10px;
}